{{ define "main" }}

<iframe width="560" height="315" src="
                   https://www.youtube.com/embed/ubD7Q_TmQQI
                   " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{{ partial "single_song" . }}

<a href="/contribute/">
  <button class="button button-landing button-primary"
          href="/contribute/"
          >
          Say Thanks
  </button>
</a>

{{ end }}
