{{ partial "head" . }}

<div id="container">
	{{ partialCached "header" . }}

   	<div class="outer">

      {{ if not .Params.disable_profile }}
    	{{ partialCached "profile" . }}
    {{ end }}

    <section id="main">
      {{ block "main" . }}{{ end }}

      <img
        width="900px"
        src="/images/tankman.jpg" />


      <div class="center">
        <div class="landing-page-caption">
          Rise above tyranny.
        </div>
        <div>
          <a href="/contribute/">
            <button class="button button-landing button-primary"
                    href="/contribute/"
                    >
                    Join the Cause
            </button>
          </a>
        </div>

        <div>
          <a href="/about/">
            <button class="button button-landing button-secondary">
              Learn More
            </button>
          </a>
        </div>

      </div>

    </section>


	</div>
</div>

{{ partialCached "footer" . }}
</body>
</html>
