{{ partial "head" . }}

<div id="container">
	{{ partialCached "header" . }}

   	<div class="outer">
   	{{ if not .Params.disable_profile }}
    	{{ partialCached "profile" . }}
    {{ end }}

    <section id="main">
      {{ block "main" . }}{{ end }}

      <img src="//via.placeholder.com/800x400" />
      <!--https://via.placeholder.com/350x150-->

      <div class="landing-page-caption">
        Stand resolute in the face of tyranny.
      </div>

      <div>
        <a href="/donate/">
          <button class="button button-primary">
            Join the Cause
          </button>
        </a>
      </div>

      <a href="/about/">
        <button class="button button-secondary">
          Learn More
        </button>
      </a>

    </section>


	</div>
</div>

{{ partialCached "footer" . }}
</body>
</html>
