{{ partial "head" . }}

<div id="container">
	{{ partialCached "header" . }}

  <div class="outer">
    {{ if not .Params.disable_profile }}
    {{ partialCached "profile" . }}
    {{ end }}

    <section id="main">

      <div class="grid-x">
        <div class="cell">
          <img
            src="/images/tankman.jpg" />
        </div>

        <div class="cell landing-page-caption">
          Rise above tyranny.
        </div>

         <div class="cell small-4"></div>
         <div class="cell small-4">
          <a href="/contribute/">
            <button class="button button-landing button-primary"
                    href="/contribute/"
                    >
                    Join the Cause
            </button>
          </a>

         </div>
         <div class="cell small-4"></div>
         <div class="cell small-4"></div>
         <div class="cell small-4">
          <a href="/about/">
            <button class="button button-landing button-secondary">
              Learn More
            </button>
          </a>
         </div>
         <div class="cell small-4"></div>
      </div>

    </section>

  </div>
</div>

{{ partialCached "footer" . }}
</body>
</html>
